body {
    display:flex;
    flex-direction:column;

}

.calculator {
    background-color: rgb(226, 214, 214);
    display:flex;
    padding:10px;
    border-radius:20px;
    margin:10%;
    flex-direction:column;
    flex:1 1 auto;
    width:70%;
    height:60%;
    justify-self:center;
    align-self:center;
}

#display {
    background-color:rgb(200, 219, 200);
    min-height: 10rem;
    min-width:100%;
    margin-bottom:10px;
    border:10px;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    flex:1 1 0;
    border-radius:20px;
}

.seperator {
    height:50px;
    padding:1px;
    min-width:2rem;
    flex:1;
    display:flex;
    flex-direction:row;
    flex:1;
}

.seperator > * {
    padding:1px;
}

.buttons {
    display:flex;
    flex-direction: column;
}

.operators {
    display:flex;
    flex-direction:row
}

.buttons-bottom {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#operators {
    display:flex;
    flex-direction:column;
    font-size: 200px;
}

button {
    padding:10px;
    font-size:20px
}

#display-operator {
    width:30%;
    padding:1px;
    height:100%;
    display:flex;
    
}

#display-first {
    width:70%
}